<p>
  <b>Child Name:</b>
  <%= child.name %>
</p>
<p>
  <b>Allergies:</b>
  <%= child.allergies %>
</p>

<p>
  <%= link_to 'delete', [child.visitor, child],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>